*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
.main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(55deg,rgb(251, 7, 231),rgb(33, 149, 211));
    position: relative;
}
.box_1{
    width: 160px;
    height: 160px;
    background: linear-gradient(55deg,rgb(251, 7, 231),rgb(33, 149, 211));
    border-radius: 8px;
    position: absolute;
    top: 100px;
    left: 460px;
    animation-name: box1;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 1;
    animation-timing-function: ease-in-out;

}
@keyframes box1{
   from{
    top: 100px;
    left: 460px;
   }
   to{
    top: 180px;
    left:460px ;
   }
}
.box_2{
    width: 160px;
    height: 160px;
    background: linear-gradient(55deg,rgb(251, 7, 231),rgb(33, 149, 211));
    border-radius: 8px;
    position: absolute;
    top: 325px;
    left: 830px;
    animation-name: box2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    z-index: 1;
    animation-timing-function: ease-in-out;



}
@keyframes box2{
    from{
        top: 325px;
        left: 830px;
    }
    to{
        top: 455px;
        left: 830px;
    }
}

.main_box{
width: 350px;
height: 450px;
border-radius: 10px;
background-color: rgba(240, 255, 255, 0.2);
position: absolute;
left: 550px;
top: 130px;
z-index: 2;


}
.main_box h1{
    text-align: center;
    padding-top: 15px;
    color: rgb(252, 4, 252);
    text-transform: uppercase;

}
.main_box .input_1{
    width: 90%;
    height: 35px;
    border-radius: 10px;
    border:1px solid #fff;
    background: rgba(240, 255, 255, 0.2);
    margin: 15px 19px;
    outline: none;
    font-size: 14px;
    font-weight: 450;
    color: #fff;
    padding-left: 15px;

    
}
.main_box .input_2{
    width: 90%;
    height: 35px;
    border-radius: 10px;
    border:1px solid #fff;
    background: rgba(240, 255, 255, 0.2);
    
    margin: 15px 19px;
    outline: none;
    font-size: 14px;
    font-weight: 450;
    color: #fff;
    padding-left: 15px;

    
}
.main_box button{
    width: 90%;
    height: 37px;
    border: none;
    background: linear-gradient(45deg,rgb(77, 189, 249),rgb(251, 7, 231));
    border-radius: 10px;
    margin:15px 19px ;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}
    .main_box .square_1{
        width: 140px;
        height: 140px;
        border: 5px solid rgb(247, 3, 170);
        border-radius: 16px;
        margin-top: 20px;
        margin-left: 105px;

        animation-name: square1;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in

    }
    @keyframes square1{
        from{
            transform: rotate(0);
        }
        to{
            transform: rotate(180deg);
        }
    }
    .main_box .square_2{
        width: 140px;
        height: 140px;
        border: 5px solid rgb(247, 3, 170);
        border-radius: 16px;
        position: absolute;
        top: 268px;
        left: 110px;

        animation-name: square2;
        animation-duration: 6s;
        
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        animation-timing-function: ease-in;

    }
    @keyframes square2{
        from{
            transform: rotate(30deg);
        }
        to{
            transform: rotate(180deg);
        }
        
    }
    .main .circle{
           width: 120px;
           height: 120px;
           border-radius: 50%;
           border: none;
           background-color:rgba(128, 0, 128, 0.359);
           position: absolute;
           top: 400px;
           left: 150px; 
           animation-name: sq;
           animation-duration: 2s;
           animation-iteration-count: infinite;
    }
@keyframes sq{
    from{
        transform: scale(0);
        background-color:rgba(128, 0, 128, 0.359);

    }
    to{
        transform: scale(1.6);
        background-color: rgb(251, 7, 231);
        opacity: 0.5;

    }
}